footer {
    
}
.footerContainer {
    background-color: #f2c49b;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    height: auto;
    border-top: 2px solid #d9ab9a;
}
.footerContainer > div {
    width: 300px;
}
.footerContainer ul {
    margin: 0;
    height: auto;
    list-style: none;
}
.footerContainer ul > span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}
.footerContainer ul li span {
    display: block;
    margin-bottom: 5px;
    font-size: 0.85em;
}