.footerLeft_head {
    height: 60px;
    display: flex;
    align-items: center;
}

.footerLeft_head img {
    height: 30px;
}

.footerLeft_head h3 {
    font-size: 1.5rem;
    margin-left: 10px;
}

.footerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 4px -4px #383838;
}
.footerContainer > div {
    width: 300px;
}
.footerContainer ul {
    margin: 0;
    height: auto;
    list-style: none;
}
.footerContainer ul > span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}
.footerContainer ul li span {
    display: block;
    margin-bottom: 5px;
    font-size: 0.85em;
}