header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #000000;
}

.headerContainer {
    min-height: 5em;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    
    box-shadow: 0 4px 4px -4px #383838;
}

.headerContainer div {
    display: flex;
    align-items: center;
}

.headerLeft {
    margin-left: 7em;
    height: 60px;
    display: block;
    align-items: center;
}

.headerLeft div {
    display: flex;
    align-items: center;
    font-size: 2.35rem;
    font-weight: bold;
}

.headerLeft div img {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 10px;
}

.headerRight {
    width: auto;
    height: 60px;
    margin-right: 3em;
    float: right;
}

.headerRight > div {
    cursor: default;
}

.headerRight > div:last-child {
    cursor: pointer;
}

.rightLogin {
    display: block;
    width: auto;
    height: 60px;
    margin-right: 2em;
    float: right;
    line-height: 60px;
    font-size: 1.3rem;
    color: #000000;
    font-weight: bold;
    transition: all .3s ease
}
.rightLogin > a:hover {
    color: #000000;
}

.rightLogin div :hover {
    color: #5e308c;
    transition: all .3s ease
}

.rightLogin div {
    position: relative;
    display: flex;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: all .3s ease;
    text-decoration: none;
}

.hoverLine:after {
    border-top: solid 3.5px #5e308c;
    content: '';
    display: flex;
    position: absolute;
    bottom: 12px; 
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.rightLogin div:hover:after {
    transform: scaleX(1);
}

.headerRight span {
    display: block;
    width: 20vmin;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}












































































































































































































/* 모바일 - 손성준님 */

@media only screen and (max-width: 789px) {
    .headerContainer {
      min-height: 3em;
      height: 50px;
    }
  
    .headerLeft {
      margin-left: 1em;
      height: 50px;
    }
  
    .headerLeft div {
      font-size: 1.8rem;
    }
  
    .headerLeft div img {
      height: 30px;
      margin-right: 5px;
    }
  
    .headerCenter {
      font-size: 1.1rem;
    }
  
    .headerRight {
      margin-right: 1em;
      height: 50px;
    }
  
    .rightLogin {
      height: 50px;
      margin-right: 0.5em;
      font-size: 1rem;
      line-height: 50px;
    }
  
    .rightLogin div {
      padding: 0 5px;
      border-radius: 5px;
    }
  
    .headerRight span {
      width: 50%;
      height: auto;
      line-height: 1.2;
      font-size: 0.8rem;
    }
  }
  