section {
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: #E2E2E2;
}

.homeSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.homeSectionHead_Container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.homeSectionHead_image {
    display: block;
    float: left;
    margin-right: 30px;
}

.homeSectionHead_image > img {
    border-radius: 1%;
    width: 70vmin;
    z-index: 1;
    margin: 10px;
    position: relative;
}

.homeSectionHeader {
    display: block;
    margin: 150px 0 0 0;
    position: relative;
    float: right;
    text-align: center;
}
.homeSectionHeader h2 {
    margin: 20px 0;
    font-size: 3vmin;
}
.homeSectionHeader h1 {
    margin: 20px 0;
    font-size: 7vmin;
}

.homeArticle {
    position: static;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.homeArticle img {
    vertical-align: middle;
    width: 60vmin;
    border-radius: 5%;
}
.homeTextContainer {
    margin: auto 20px;
    width: auto;
}

.homeTitle {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

.homeTitle span {
    font-size: 3rem;
}

.homeTitle1 {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
}
.homeTitle1 span {
    font-size: 3rem;
    text-align: right;
}

.homeTitle2 {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
}

.homeTitle2 span {
    font-size: 3rem;
    text-align: left;
}

.homeTitle3 {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
}

.homeTitle3 span {
    font-size: 3rem;
}

.homeContent1 {
    display: inline;
    font-size: 1.1rem;
}

.homeContent1 span {
    display: block;
    margin: 30px 0 300px 0;
    text-align: right;
    line-height: 30px;
}

.homeContent2 {
    display: inline;
    font-size: 1.1rem;
}

.homeContent2 span {
    display: block;
    margin: 30px 0 0 0;
    text-align: left;
    line-height: 30px;
}

.login {
    background-color: #5e308c;
    margin: 10px auto;
    width: 20vmin;
    height: 5.5vmin;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    line-height: 3.5vmin;
    font-size: 2vmin;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover {
    background-color: #a676a3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}