section {
    margin-top: 4em;
    width: 100%;
    height: auto;
    min-height: 47em;
    background-color: #E2E2E2;
    overflow: hidden;
}

.homeSectionHead_Container {
    margin: 0 0 5em 0;
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeSectionHead_image {
    display: block;
    float: left;
    margin-right: 30px;
}

.homeSectionHead_image > img {
    border-radius: 1%;
    width: 68vmin;
    z-index: 1;
    margin: 10px;
}

.homeSectionHeader {
    display: block;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.homeSectionHeader h2 {
    margin: 20px 0;
    font-size: 3vmin;
    text-align: center;
}
.homeSectionHeader h1 {
    margin: 20px 0;
    font-size: 5vmin;
    font-weight: bold;    
}

.homeArticle {
    position: static;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.homeArticle img {
    vertical-align: middle;
    width: 60vmin;
    border-radius: 5%;
}
.homeTextContainer {
    margin: 30px;
    width: auto;
    justify-content: center;
}

.homeTextContainer > img {
    margin: 0 0 100px 0;
}

.homeTitle {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.homeTitle span {
    font-size: 3rem;
}

.homeTitle1 {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
}
.homeTitle1 span {
    font-size: 2.3rem;
    text-align: right;
}

.homeTitle2 {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
}

.homeTitle2 span {
    font-size: 2.3rem;
    text-align: left;
}

.homeTitle3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.5rem;
}

.homeTitle3 span {
    font-size: 2.3rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.homeContent1 {
    display: inline;
    font-size: 1.1rem;
}

.homeContent1 span {
    display: block;
    margin: 30px 0 300px 0;
    text-align: right;
    line-height: 30px;
}

.homeContent2 {
    display: inline;
    font-size: 1.1rem;
}

.homeContent2 span {
    display: block;
    margin: 30px 0 0 0;
    text-align: left;
    line-height: 30px;
}

.login {
    background-color: #5e308c;
    margin: 30px auto;
    width: 23vmin;
    height: 6vmin;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    line-height: 3.5vmin;
    font-size: 2vmin;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover {
    background-color: #a676a3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    color: #ffffff;
}

.login * {
    color: #ffffff;
}

.login *:hover {
    color: #ffffff;
}

@media only screen and (max-width: 768px) and (max-width: 768px) {

    section {
        margin-top: 3em;
    }

    .homeSectionHead_Container {
        position: static;
        display: block;
        margin: 0 0 10px 0;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homeSectionContainer,
    .homeSectionHead_Container,
    .homeSectionHead_image,
    .homeSectionHeader,
    .homeArticle,
    .homeTextContainer,
    .homeTitle,
    .homeTitle span,
    .homeTitle1,
    .homeTitle1 span,
    .homeTitle2,
    .homeTitle2 span,
    .homeTitle3,
    .homeTitle3 span,
    .homeContent1,
    .homeContent1 span,
    .homeContent2,
    .homeContent2 span,
    .login {
        text-align: center;
        vertical-align: middle;
    }

    .homeImage {
        margin: 0;
    }

    .homeArticle {
    position: relative;
    display: block;
    margin: 0 0 10px 0;
    justify-content: center;
    width: 100%;
    }

    .homeArticle img {
        width: 80%;
    }
    
    .homeSectionHeader {
        display: block;
    }

    .homeSectionHeader h2 {
        font-size: 3vmin;
    }

    .homeSectionHeader h1 {
        font-size: 5vmin;
        float: center;
    }

    .homeTitle {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .homeTitle span {
        font-size: 20px;
    }

    .homeTitle1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .homeTitle1 span {
        font-size: 20px;
    }

    .homeTitle2 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .homeTitle2 span {
        font-size: 20px;
    }

    .homeTitle3 {
        display: block;
        margin: 50px 0 0 0;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        float: center;
    }

    .homeTitle3 span {
        font-size: 20px;
        
    }

    .homeContent1,
    .homeContent2 {
        font-size: 15px;
    }

    .homeContent1 span {
        margin: 20px 0 150px 0;
    }

    .homeContent2 span {
        margin: 20px 0 0 0;
    }

    .login {
        width: 50%;
        height: 8vmin;
        line-height: 6vmin;
        font-size: 3vmin;
        margin: 30px auto;
    }

}