.projectContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  top: 60px;
}

.projectAside {
  margin-top: 50px;
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  z-index: 9;
}

.projectUserdata {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.projectDeadlineContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 1.1rem;
}

.projectDeadlineContainer input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.projectCategoryList {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.projectCategoryItem {
  margin: 10px 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.projectAddCategory {
  margin: 10px 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.addCategoryButton {
  color: #007bff;
  cursor: pointer;
}

.projectButtonContainer {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.projectButton {
  margin-right: 10px;
  font-size: 16px;
  background-color: #5e308c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.quillButtonContainer {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 0;
}

.projectQuillContainer {
  width: 100%;
  height: 100%;
  margin-left: 20%;
}

.projectQuill {
  height: 100%;
}
.projectQuill .qleditor {
  min-height: 200px;
  height: calc(100% - 1em);
}

.projectButton:hover {
  background-color: #6f3aa3;
  cursor: pointer;
}

.projectButton:focus,
.projectAddCategory:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6f3aa3;
}

.projectQuillContainer:hover {
  cursor: text;
}

.projectContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectHeader {
  height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.projectCategoryItem.selected {
  background-color: #f0f0f0;
}