.updateCategoryBox {
    min-height: 7.7vh;
}

/* 카테고리 label */
.updateCategoryBox label:first-of-type {
    margin: 0;
}

/* 카테고리 input */
.updateCategory{
    background-color: #f3f3f3;
    margin-top: 5px;
    margin-left: 15px;
    width: 300px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
}
.updateCategory:focus {
    background-color: #e7e7e7;
    outline: 1px solid #000000;
}

.updatePostTitleBox {
    width: 100%;
    min-height: 13vh;
}

/* 제목 input */
.updatePostTitle {
    background-color: #f3f3f3;
    margin: 5px auto 0 auto;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}
.updatePostTitle:focus {
    background-color: #e7e7e7;
    outline: 1px solid #000000;
}

.updatePostContentBox {
    width: 100%;
    min-height: calc(75vh - 13vh - 7.7vh);
}

/* 내용 input */
.updatePostContent {background-color: #f3f3f3;
    margin: 5px auto 0 auto;
    padding: 8px 10px;
    width: 100%;
    min-height: calc(75vh - 13vh - 7.7vh - 51.6px - 3vh);
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    resize: none;
}
.updatePostContent:focus {
    background-color: #e7e7e7;
    outline: 1px solid #000000;
}

/* 수정 / 취소 버튼 박스 */
.updatePostBtnBox {
    width: 100%;
    min-height: 3vh;
    float: right;
    text-align: right;
}

.updatePostBtn,
.updatePostCancelBtn {
    width: 100px;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}
.updatePostBtn:active,
.updatePostCancelBtn:active {
    border: 1px solid #000000;
}

.updatePostBtn {
    background-color: #9747ff;
    color: #ffffff;
    margin: 0 0 0 15px;
}
.updatePostBtn:hover {
    background-color: #b985fd;
    box-shadow: 0px 0px 2px #808080;
}

.updatePostCancelBtn {
    background-color: #dfdfdf;
    color: #000000;
    margin: 0 0 0 15px;
}
.updatePostCancelBtn:hover {
    box-shadow: 0px 0px 2px #808080;
    background-color: #cfcfcf;
}
