.ReactModal__Body--open {
    overflow: hidden;
  }
  .projectModalOverlay {
    background-color: #acacacb7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 62px;
    position: fixed;
    z-index: 50000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .projectModal {
    background-color: #ffffff;
    position: relative;
    box-sizing: border-box;
    width: auto;
    max-width: calc(100% - 450px);
    min-width: 800px;
    height: auto;
    max-height: calc(100% - 100px);
    min-height: 500px;
    overflow: hidden;
    padding: 20px 70px 20px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
  }
  .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .closeModal:hover {
    background-color: #f2f2f2;
  }
  
  .closeModal:focus {
    outline: none;
  }
  
  .closeModal::before,
  .closeModal::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #333;
  }
  
  .closeModal::before {
    transform: rotate(45deg);
  }
  
  .closeModal::after {
    transform: rotate(-45deg);
  }
  
  /* 설정 modal */
  
  .settingModalContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: none;
  }
  
  .settingModalSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding-right: 20px;
  }
  
  .settingModalSidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .settingModalSidebar li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    color: #555555;
    font-weight: bold;
    cursor: pointer;
  }
  .settingModalSidebar li.active {
    color: #000000;
    border-right: 3px solid #000000;
    background-color: #f5f5f5;
  }

  .settingModalMain {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputGroup label,
  h4 {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-weight: bold;
  }
  
  .inputGroup input,
  .inputGroup textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
  }
  .inputGroup textarea {
    height: 65px;
  }
  .saveCloseContainer {
    width: 95%;
  }
  .saveClose {
    background-color: #5e308c;
    display: block;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: 30px auto 0 auto;
    width: 150px;
  }
  .saveClose:hover {
    background-color: #845f99;
    box-shadow: 0px 0px 3px #444444;
  }

  .saveClose:active {
    background-color: #a676a3;
    color: #000000;
  }

  .delProject {
    background-color: #ee0000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    width: 100px;
    height: 30px;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  
  .delProject:hover {
    cursor: pointer;
    background-color: #ff4444;
  }

  .delProject:active {
    background-color: #ff7777;
    color: #000000;
  }
  
  /* 설정 modal 끝 */
  
  /* 글작성, 글수정 modal */
  .writeNoteButton,
  .updateNoteButton {
    background-color: #5e308c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .writeNoteButton:hover,
  .updateNoteButton:hover {
    background-color: #845f99;
    box-shadow: 0px 0px 3px #444444;
  }
  .writeNoteButton:active,
  .updateNoteButton:active {
    background-color: #a676a3;
    color: #000000;
  }
  
  /* 글작성 modal 끝 */
  
  /* 카테고리 */
  
  .categoryContainer {
    display: block;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .categoryContainer select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-size: 0.9rem;

    color: #000000;
    background-color: #fff;

    padding: 5px 3rem;
    margin: 0;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }

  .categoryContainer select:hover {
    border-color: #888;
  }
  
  .categoryContainer select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  
  
  /* 카테고리 끝 */
  
  /* 자세히 보기 */
  
  .detailSection {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
  }
  
  .detailTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .detailescription {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .detailWriter {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .detailDate {
    font-size: 14px;
    color: #999;
  }
  
  .buttonContainer {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    float: right;
  }
  
  .editButton,
  .deleteButton {
    background-color: #5e308c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .editButton:hover,
  .deleteButton:hover {
    background-color: #845f99;
    box-shadow: 0px 0px 3px #444444;
  }
  
  .editButton:active,
  .deleteButton:active {
    background-color: #a676a3;
    color: #000000;
  }
  
  /* 자세히 보기 끝 */
  
  /* 설정 modal 멤버관리 tab */
  .memberManagement {
    display: flex;
    flex-direction: column;
  }
  
  .memberManagement h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .memberManagement ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
    min-width: auto;
  }
  
  .memberManagement li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 90%;
  }
  
  .memberManagement li:last-of-type {
    margin-bottom: 0;
  }
  
  .memberManagement li > div {
    max-width: 400px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .memberManagement li > div:last-of-type {
    display: block;
    width: 35px;
    border-radius: 3px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .memberManagement li > div:last-of-type:hover {
    background-color: #5e308c;
    color: #ffffff;
  }

  .memberManagement li > div:last-of-type:active {
    background-color: #a676a3;
    color: #ffffff;
  }

  .addUserBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .memberManagement button {
    background-color: #5e308c;
    width: 30%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto 0 auto;
  }
  
  .memberManagement button:hover {
    background-color: #845f99;
    box-shadow: 0px 0px 3px #444444;
  }
  
  .memberManagement button:active {
    background-color: #a676a3;
    color: #000000;
  }
  
  /* 설정 modal 멤버관리 tab 끝 */
  