.returnTop {
    display: none;
    background: #ffffff url('../../public/img/ReturnTop.png') no-repeat center;
    position: fixed;
    z-index: 99999;
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border: 1px solid #c6c6c6;
    cursor: pointer;
}
.activeReturnTop {
    display: block;
}