.listSection {
  display: block;
  width: 100%;
  height: auto;
  min-height: 59em;
  background-color: #E2E2E2;
}

.listBorderTop{
  padding: auto;
  border: none;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 2px #808080;
}

  .listHeadEllipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .ellipsismany { /* 프로젝트 내용 상세설명 3줄이상 입력 시 ellipsis 처리 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 5; /* 5줄이상 넘어가면 ellipsis */
  }
  
  .listCard:hover{
    opacity: 0.5;
  }

  .addModalh{
    margin-top: 7px;
  }

  .addModalh1{
    margin-top: 25px;
    margin-bottom: 5px;
  }
  
  .addbtn{
    width: 100px;
    height: 100px;
    background-color: aqua;
  }

  .colortest{
    border: 1px solid red;
  }

  .dayred{
    color: red;
  }

.Project_Container {
  display: block;
  margin-top: 5em;
  width: 70%;
  min-height: 17em;
  align-items: center;
  
}

.Project_Name {
  margin: 1.2em 0;
}

.Project_Container div h4 {
  font-size: 3vmin;
  text-align: center;
  margin: 1em;
}