
  .listHeadEllipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .ellipsismany { /* 프로젝트 내용 상세설명 2줄이상 입력 시 ellipsis 처리 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2; /* 라인 수 변경시 조작 */
  }
  
  .listCard:hover{
    opacity: 0.5;
  }
  
  .addbtn{
    width: 100px;
    height: 100px;
    background-color: aqua;
  }

  
  .test1{
    border:1px solid black;
    background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }